ul {
  padding-left: 18px;
  margin-top: -10px;
  line-height: 160%;
}

li {
  font-size: 18px;
}

.demos-title {
  font-size: 50px;
  font-weight: bold;
  color: #0E0E0E;
  background-color: grey;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
  margin-top: 0px;
  margin-bottom: 80px;
}

.title {
  margin-bottom: 30px;
}

.dolby {
  grid-area: dolby;
  width: 300px;
  text-align: left;
}

.dts {
  grid-area: dts;
  width: 300px;
  text-align: left;
}

.imax {
  grid-area: imax;
  width: 300px;
  text-align: left;
}

.thx {
  grid-area: thx;
  width: 300px;
  text-align: left;
}

.movie-cuts {
  grid-area: cuts;
  width: 300px;
  text-align: left;
}

.home-link {
  font-size: 16px;
  text-align: center;
  color: grey;
  border-style: solid none none none;
  border-width: thin;
  padding: 25px 0px 25px 0px;
  margin-top: 70px;
}

.demos-grid {
  display: grid;
  grid-template-areas:
  'dolby dts imax'
  'dolby thx cuts'
  'dolby thx cuts';
  justify-content: center;
  width: 100%;
  grid-gap: 50px;
}
