body {
  font-family: arial;
  background-color: #fbfbfb;
}

img.unicamp-logo {
  width: 100%;
  margin: auto;
}

img.atc-cert-dev {
  width: 100%;
  margin: auto;
}

img.github-icon {
  height: 35px;
}

a:link {
  color: grey;
  text-decoration: none;
}

a:hover {
  color: grey;
  text-decoration: underline;
}

a:visited {
  color: grey;
  text-decoration: none;
}

.LI-profile-badge {
  grid-area: LI-profile-badge;
  background-color: #ffffff;
  width: 329px;
  height: 261px;
}

.Education {
  grid-area: Education;
  display: grid;
  grid-template-areas:
  'UNICAMP-logo degree';
  width: 330px;
  line-height: 0.6;
  background-color: #ffffff;
  border: 1px solid #e7e7e7;
}

.UNICAMP-logo {
  grid-area: UNICAMP-logo;
  width: 60px;
  margin: 25px 0px 25px 25px;
}

.degree {
  grid-area: degree;
  font-family: arial;
  font-size: 16px;
  margin-top: 29px;
}

.ATC-certified-developer {
  grid-area: ATC-certified-developer;
  display: block;
  width: 330px;
  justify-content: center;
  background-color: #ffffff;
  border: 1px solid #e7e7e7;
}

.ATC-logo {
  margin: 20px 25px 0px 25px;
}

.ATC-id {
  float: left;
  font-size: 12px;
  margin: 0px 0px 20px 27px;
}

.GH-languages-graph {
  grid-area: GH-languages-graph;
  height: 600px;
  background-color: #ffffff;
  border: 1px solid #f0f0f0;
}

.grid-container {
  display: grid;
  grid-template-areas:
  'LI-profile-badge GH-languages-graph'
  'Education GH-languages-graph'
  'ATC-certified-developer GH-languages-graph';
  grid-gap: 40px;
  justify-content: center;
  background-color: #fbfbfb;
  margin: 80px;
}

.footer {
  width: 100%;
  padding-top: 30px;
  padding-bottom: 20px;
  text-align: center;
  border-top-style: solid;
  border-color: rgb(238, 238, 238);
  border-width: 1px;
}
