body {
   margin: 0;
   padding: 0;
   font-family: arial;
}

iframe {
   position: relative;
   height: 100%;
   width: 100%;
}

img.avatar {
  width: 80px;
  height: 80px;
  border-style: solid;
  border-width: 1px;
  border-radius: 10px;
  border-color: lightgrey;
}

img.flag {
  width: 30px;
  height: 30px;
  cursor: pointer;
}

img.metric {
  width: 16px;
  height: 16px;
  margin-bottom: -2px;
  cursor: default;
}

.avatar {
  display: block;
  grid-area: avatar;
  width: 80px;
  height: 80px;
  margin-right: 10px;
}

.title {
  display: block;
  grid-area: title;
  width: 100%;
  height: 30px;
  font-weight: bold;
  font-size: 21px;
  text-align: left;
  padding-left: 5px;
  color: #606060;
  cursor: default;
}

.trips {
  display: block;
  grid-area: trips;
  width: 100px;
  height: 20px;
  font-family: arial;
  font-size: 15px;
  text-align: left;
  padding-left: 5px;
  color: grey;
  cursor: default;
}

.countries {
  display: block;
  grid-area: countries;
  width: 100%;
  height: 20px;
  font-family: arial;
  font-size: 15px;
  text-align: left;
  padding-left: 5px;
  color: grey;
  cursor: default;
}

.distance {
  display: block;
  grid-area: distance;
  width: 100px;
  height: 20px;
  font-size: 15px;
  font-family: arial;
  text-align: left;
  padding-left: 5px;
  color: grey;
  cursor: default;
}

.days {
  display: block;
  grid-area: days;
  width: 110px;
  height: 20px;
  font-family: arial;
  font-size: 15px;
  text-align: left;
  padding-left: 5px;
  cursor: default;
  color: grey;
}

.map {
  display: block;
  grid-area: map;
  width: 300px;
  height: 150px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.flags {
  display: grid;
  grid-area: flags;
  width: 290px;
  height: 30px;
  padding: 10px 5px 10px 5px;
  border-radius: 5px;
  background-color: #cad2d3;
  grid-template-columns: auto auto auto auto auto auto auto;
}

.list-title {
  font-size: 18px;
  font-weight: bold;
  color: #606060;
  border-style: none none solid none;
  border-color: grey;
  border-width: thin;
  margin-top: 5px;
  margin-bottom: 15px;
  text-align: left;
  cursor: default;
}

p.list-item {
  font-size: 13px;
  text-align: left;
  margin-top: -7px;
  color: #606060;
  cursor: default;
}

img.tiny_icon {
  width: 14px;
  height: 14px;
  margin: 0px 7px -2px 0px;
}

.top-container {
  display: grid;
  top: 0;
  z-index: 1;
  grid-area: top-container;
  grid-template-areas:
  'avatar title title title title'
  'avatar trips trips countries countries'
  'avatar distance distance days days'
  'map map map map map'
  'flags flags flags flags flags';
  position: sticky;
  width: 299px;
  height: 290px;
  background-color: white;
}

.middle-container {
  display: block;
  grid-area: middle-container;
  overflow-y: scroll;
  position: absolute;
  top: 320px;
  left: 0px;
  /* bottom: 90px; */
  bottom: 0px;
  padding: 5px 10px 0px 10px;
  width: 299px;
  text-align: left;
  border-width: 1px 0 0 0;
  border-style: solid;
  border-color: lightgrey;
}

.bottom-container {
  display: grid;
  grid-area: bottom-container;
  position: absolute;
  bottom: 10px;
  width: 290px;
  height: 50px;
  padding: 10px 5px 10px 5px;
  border-radius: 15px;
  grid-template-columns: auto auto auto;
}

.sidebar-container {
  display: grid;
  grid-area: sidebar-container;
  grid-column: 1;
  grid-row: 1;
  grid-template-areas:
    'top-container'
    'middle-container'
    'bottom-container';
  text-align: center;
  padding: 10px;
  background-color: white;
  border-width: 0 1px 0 0;
  border-style: solid;
  border-color: lightgrey;
}

.map-container {
  display: block;
  grid-area: map-container;
  grid-column: 2;
  grid-row: 1;
  width: 100%;
}

.main-container {
  display: grid;
  grid-template-columns: 320px auto;
  grid-gap: 1px;
  height: 100vh;
}
