body {
  margin: 80px;
  background-color: #0E0E0E;
  font-family: arial;
  font-size: 17px;
  color: lightgrey;
}

a:link {
  color: inherit;
  text-decoration: none;
}

a:visited {
  color: inherit;
  text-decoration: none;
}

a:hover {
  color: white;
  text-decoration: none;
}

.page-title {
  grid-area: title;
  font-family: serif;
  font-size: 50px;
  font-weight: bold;
  color: lightgrey;
  border-style: solid none solid none;
  border-color: lightgrey;
  border-width: thin;
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: center;
  margin-top: -40px;
}

.photos {
  grid-area: photos;
  margin-top: 50px;
}

.photos-grid {
  display: grid;
  grid-template-columns: auto auto auto;
  column-gap: 5px;
}

.description {
  grid-area: description;
  margin-top: -30px;
  width: 925px;
  line-height: 25px;
  text-align: justify;
}

.room {
  grid-area: room;
  width: 550px;
  text-align: left;
  padding-right: 20px;
}

.screen {
  grid-area: screen;
  width: 550px;
  text-align: left;
  padding-right: 20px;
}

.av_tech {
  grid-area: av_tech;
  width: 300px;
  text-align: left;
}

.gear {
  grid-area: gear;
  width: 550px;
  text-align: left;
  padding-right: 20px;
}

.decor {
  grid-area: decor;
  width: 550px;
  text-align: left;
  padding-right: 20px;
}

.streaming {
  grid-area: streaming;
  width: 300px;
  text-align: left;
}

.media {
  grid-area: media;
  width: 300px;
  text-align: left;
}

.stuff {
  grid-area: stuff;
  width: 300px;
  text-align: left;
}

.films {
  grid-area: films;
}

.film-posters {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto auto auto auto auto;
  column-gap: 7px;
}

.film-ratings {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto auto auto auto auto;
  column-gap: 7px;
  margin-bottom: 62px;
}

.rating {
  width: 85px;
  font-size: 12px;
  color: darkgrey;
  text-align: center;
}

.bottom-links {
  font-weight: normal;
  font-size: 10px;
  color: darkgrey;
  margin-top: -40px;
  text-align: center;
}

.logos {
  grid-area: logos;
  display: grid;
  justify: center;
  height: 20px;
  grid-template-columns: auto auto;
  column-gap: 80px;
  border-style: solid none solid none;
  border-color: grey;
  border-width: thin;
  padding: 10px 65px 10px 70px;

}

.logos-techs {
  display: grid;
  column-gap: 0px;
  align-items: left;
  grid-template-columns: auto auto;
}

.logos-brands {
  display: grid;
  column-gap: 15px;
  align-items: right;
  grid-template-columns: auto auto auto auto auto auto;
}

.logo-dolby {
  justify-content: center;
  padding-top: 5px;
  height: 11px;
}

.logo-dts {
  justify-content: center;
  padding-top: 4px;
  height: 12px;
}

.logo-yamaha {
  justify-content: center;
  padding-top: 4px;
  height: 13px;
}

.logo-dayton {
  justify-content: center;
  height: 9px;
}

.logo-onkyo {
  justify-content: center;
  height: 9px;
}

.logo-pioneer {
  justify-content: center;
  height: 10px;
}

.logo-sony {
  justify-content: center;
  height: 9px;
}

.logo-lg {
  justify-content: center;
  padding-top: 5px;
  height: 10px;
}

.room-grid {
  display: grid;
  grid-template-areas: 'auto auto';
  justify-content: 'left left';
}

.screen-grid {
  display: grid;
  grid-template-areas: 'auto auto';
  justify-content: 'left left';
}

.title-grid-left {
  display: grid;
  grid-template-areas: 'auto auto';
  justify-content: 'left right';
  margin-bottom: -23px;
}

.title-grid-right {
  display: grid;
  grid-template-areas: 'auto auto';
  justify-content: 'left right';
  margin-bottom: -23px;
}

.title {
  font-size: 20px;
  font-weight: bold;
  color: lightgrey;
  border-style: none none solid none;
  border-color: lightgrey;
  border-width: thin;
  margin-bottom: 23px;
  padding-bottom: 5px;
  text-align: left;
}

.more {
  display: block;
  font-size: 10px;
  font-weight: bold;
  color: lightgrey;
  border-style: none none solid none;
  border-color: lightgrey;
  border-width: thin;
  margin-bottom: 23px;
  padding-top: 10px;
  text-align: right;
  cursor: pointer;
}

.grid-container {
  display: grid;
  grid-template-areas:
  'photos photos'
  'title title'
  'description description'
  'room av_tech'
  'screen av_tech'
  'gear media'
  'gear streaming'
  'decor stuff'
  'films films'
  'logos logos';
  justify-content: center;
  width: 100%;
  grid-gap: 50px;
}


.overlay {
  height: 0%;
  width: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(9,9,9);
  background-color: rgba(9,9,9, 0.95);
  overflow-y: scroll;
  transition: 0s;
  cursor: normal;
}

.overlay-content {
  position: relative;
  top: 10%;
  width: 100%;
  text-align: center;
}

.overlay::-webkit-scrollbar {
  display: none;
}

.overlay-grid-container {
  display: grid;
  grid-template-areas:
  'arr_back photo arr_forward'
  'close close close';
  justify-content: center;
  align-items: center;
  width: 100%;
  grid-gap: 50px;
}

.photo_thumb {
  width: 305px;
  cursor: pointer;
}

.icon {
  justify-content: center;
  width: 40px;
  cursor: pointer;
}

.photo {
  grid-area: photo;
  justify-content: center;
  width: 960px;
}

.arr_back {
  grid-area: arr_back;
  justify-content: center;
}

.arr_forward {
  grid-area: arr_forward;
  justify-content: center;
}

.close {
  grid-area: close;
  justify-content: center;
}
